<script lang="ts">
	import Link from '$lib/components/Links/Link.svelte';

	export let href: string;
	export let name: string;
</script>

<Link {href} logo="/logos/linkedin.png" alt="{name}'s LinkedIn" />
