<script lang="ts">
	import { slide } from 'svelte/transition';

	import { goto } from '$app/navigation';
	import { page } from '$app/stores';

	import AdvocateCard from '$lib/components/AdvocateCard.svelte';
	import HeroContentFlex from '$lib/components/HeroContentFlex.svelte';
	import HeroContentGrid from '$lib/components/HeroContentGrid.svelte';
	import IntroSection from '$lib/components/IntroSection.svelte';
	import MainSection from '$lib/components/MainSection.svelte';
	import type { Advocate, Pagination } from '$lib/types';

	export let data: { advocates: Advocate[]; pagination: Pagination };
	$: advocates = data.advocates;
	$: pagination = data.pagination;

	let query = $page.url.searchParams.has('query') ? $page.url.searchParams.get('query') : '';
	const handleClick = async () => {
		await navigateWithParams({ query });
	};

	const navigateToPage = async (page: number) => {
		await navigateWithParams({ page });
	};

	const navigateWithParams = async (params: any) => {
		const url = new URL($page.url);
		Object.keys(params).forEach((param: string) => {
			url.searchParams.set(param, params[param]);
		});
		await goto(url, { noscroll: true });
	};
</script>

<svelte:head><title>Advocates | CodeBattles October Frontend</title></svelte:head>

<IntroSection>
	<HeroContentFlex>
		<h1 class="text-5xl lg:text-6xl">Advocates</h1>
		<p>This page lists all the advocates.</p>
		<form class="input-group justify-center" on:submit|preventDefault={handleClick}>
			<input
				type="text"
				bind:value={query}
				placeholder="Search..."
				class="input text-neutral-content"
			/>
			<input class="btn text-neutral glass fa-solid" type="submit" value="" />
		</form>
		{#if pagination.has_previous || pagination.has_next}
			<div class="btn-group overflow-x-auto max-w-[80vw]" transition:slide>
				<button
					disabled={!pagination.has_previous}
					class="btn"
					on:click={() => navigateToPage(pagination.current_page - 1)}
				>
					<i class="fa-solid fa-arrow-alt-circle-left" />
				</button>
				{#each pagination.pages as page}
					<button
						class="btn"
						class:btn-active={page == pagination.current_page}
						on:click={() => navigateToPage(page)}>{page}</button
					>
				{/each}
				<button
					disabled={!pagination.has_next}
					class="btn"
					on:click={() => navigateToPage(pagination.current_page + 1)}
				>
					<i class="fa-solid fa-arrow-alt-circle-right" />
				</button>
			</div>
		{/if}
		<div>
			<p>
				Page {pagination.current_page} of {pagination.total_pages} ({pagination.results_found} results)
			</p>
		</div>
	</HeroContentFlex>
</IntroSection>

<MainSection>
	<HeroContentGrid>
		{#each advocates as advocate (advocate.username)}
			<AdvocateCard {advocate} />
		{/each}
	</HeroContentGrid>
</MainSection>
