<script lang="ts">
	import 'autolink-js';

	import HeroContentFlex from '$lib/components/HeroContentFlex.svelte';
	import IntroSection from '$lib/components/IntroSection.svelte';
	import TwitterLink from '$lib/components/Links/TwitterLink.svelte';
	import MainSection from '$lib/components/MainSection.svelte';
	import type { Advocate } from '$lib/types';

	export let data;
	const advocate: Advocate = data['advocate'];

	const formatter = Intl.NumberFormat(undefined, { notation: 'compact' });
</script>

<svelte:head>
	<title>
		{advocate.name} | CodeBattles October Frontend
	</title>
</svelte:head>

<IntroSection>
	<HeroContentFlex>
		<h1 class="text-5xl lg:text-6xl">{advocate.name}</h1>
		<div class="avatar">
			<img
				alt="{advocate.name}'s profile picture"
				src={advocate.profile_pic}
				class="max-w-[512px] h-auto rounded-full aspect-square"
			/>
		</div>
	</HeroContentFlex>
</IntroSection>

<MainSection>
	<HeroContentFlex>
		<h2 class="text-4xl lg:text-5xl">About {advocate.name}</h2>
		{#if advocate.twitter}
			<TwitterLink href={advocate.twitter} name={advocate.name} />
		{/if}
		<p>
			{formatter.format(advocate.follower_count)} followers
		</p>
		<p class="prose text-neutral prose-a:link-neutral prose-a:link-hover">
			{@html advocate.bio.autoLink()}
		</p>
	</HeroContentFlex>
</MainSection>
