<script lang="ts">
	import { navigating } from '$app/stores';
	import Nav from '$lib/components/Nav.svelte';
	import NProgress from 'nprogress';
	import 'nprogress/nprogress.css';
	import '../app.postcss';

	NProgress.configure({
		minimum: 0.16
	});

	$: {
		if ($navigating) {
			NProgress.start();
		}
		if (!$navigating) {
			NProgress.done();
		}
	}
</script>

<header>
	<Nav />
</header>

<main>
	<slot />
</main>
