<script lang="ts">
	import Definition from '$lib/components/Definition.svelte';
	import HeroContentFlex from '$lib/components/HeroContentFlex.svelte';
	import IntroSection from '$lib/components/IntroSection.svelte';
	import MainSection from '$lib/components/MainSection.svelte';
</script>

<svelte:head>
	<title>CodeBattles October Frontend</title>
</svelte:head>

<IntroSection>
	<HeroContentFlex>
		<h1 class="text-5xl lg:text-6xl">CodeBattles October</h1>
		<p>
			Hi! This is a submission for the <a
				class="link link-neutral link-hover"
				href="https://codebattles.dev/event/dce4b8cd-b48d-4511-b4d6-b0058c179944/"
				>CodeBattles October Challenge</a
			>.
		</p>
	</HeroContentFlex>
</IntroSection>

<MainSection>
	<HeroContentFlex>
		<h2 class="text-4xl lg:text-5xl">Technical Details</h2>
		<section class="details">
			<Definition term="Source Code">
				Hosted on <a href="https://gitlab.com/thecashewtrader/codebattles-october-frontend"
					>GitLab</a
				>
				under
				<a href="https://www.gnu.org/licenses/agpl-3.0">GNU AGPL Version 3</a>.
			</Definition>
			<Definition term="Language">
				<a href="https://www.typescriptlang.org"> TypeScript </a>
			</Definition>
			<Definition term="Framework">
				<a href="https://kit.svelte.dev"> SvelteKit </a>
			</Definition>
			<Definition term="CSS Library">
				<a href="https://tailwindcss.com"> TailwindCSS </a>
				<br />
				<a href="https://daisyui.com"> DaisyUI </a>
			</Definition>
			<Definition term="Testing">
				<a href="https://playwright.dev"> Playwright </a>
			</Definition>
			<Definition term="Helpers">
				<a href="https://ricostacruz.com/nprogress"> NProgress </a>
				<br />
				<a href="https://github.com/bryanwoods/autolink-js"> autolink-js </a>
			</Definition>
		</section>
	</HeroContentFlex>
</MainSection>

<style lang="postcss">
	.details a {
		@apply link link-accent link-hover;
	}
</style>
