<script lang="ts">
	import 'autolink-js';

	import HeroContentFlex from '$lib/components/HeroContentFlex.svelte';
	import IntroSection from '$lib/components/IntroSection.svelte';
	import LinkedInLink from '$lib/components/Links/LinkedInLink.svelte';
	import TwitterLink from '$lib/components/Links/TwitterLink.svelte';
	import type { Company } from '$lib/types';

	export let data;
	const company: Company = data['company'];
</script>

<svelte:head>
	<title>{company.name} | CodeBattles October Frontend</title>
</svelte:head>

<IntroSection>
	<HeroContentFlex>
		<h1 class="text-5xl lg:text-6xl">{company.name}</h1>
		<div class="avatar">
			<img alt="{company.name}'s logo" src={company.logo} class="max-w-[512px]" />
		</div>
		{#if company.twitter || company.linkedin}
			<div class="btn-group">
				{#if company.twitter}
					<TwitterLink href={company.twitter} name={company.name} />
				{/if}
				{#if company.linkedin}
					<LinkedInLink href={company.linkedin} name={company.name} />
				{/if}
			</div>
		{/if}
		<p class="prose text-neutral prose-a:link-neutral prose-a:link-hover">
			{@html company.bio.autoLink()}
		</p>
	</HeroContentFlex>
</IntroSection>
