<script lang="ts">
	import CompanyCard from '$lib/components/CompanyCard.svelte';
	import HeroContentFlex from '$lib/components/HeroContentFlex.svelte';
	import HeroContentGrid from '$lib/components/HeroContentGrid.svelte';
	import IntroSection from '$lib/components/IntroSection.svelte';
	import MainSection from '$lib/components/MainSection.svelte';
	import type { Company } from '$lib/types';

	export let data;
	const companies: Company[] = data['companies'];
</script>

<svelte:head>
	<title>Companies | CodeBattles October Frontend</title>
</svelte:head>

<IntroSection>
	<HeroContentFlex>
		<h1 class="text-5xl lg:text-6xl">Companies</h1>
		<p>This page lists all the companies.</p>
	</HeroContentFlex>
</IntroSection>

<MainSection>
	<HeroContentGrid>
		{#each companies as company (company.username)}
			<CompanyCard {company} />
		{/each}
	</HeroContentGrid>
</MainSection>
