/* Write your global styles here, in PostCSS syntax */
@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* nprogress */
#nprogress .bar {
	background: hsl(var(--p)) !important;
}
#nprogress .peg {
	box-shadow: 0 0 10px hsl(var(--p)), 0 0 5px hsl(var(--p)) !important;
}
#nprogress .spinner-icon {
	border-top-color: hsl(var(--p)) !important;
	border-left-color: hsl(var(--p)) !important;
}

/* fonts */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/fonts/inter-v12-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/inter-v12-latin-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
