<script lang="ts">
	import { scale } from 'svelte/transition';

	export let href: string;
	export let name: string;
	export let description: string;
	export let image: string;
</script>

<a
	{href}
	class="card w-80 lg:w-96 bg-base-100 transition-transform hover:translate-y-[-1rem]"
	transition:scale
>
	<div class="card-body">
		<h2 class="card-title">{name}</h2>
		<p>{description}</p>
	</div>
	<figure>
		<img src={image} alt="{name}'s logo" />
	</figure>
</a>
