<script lang="ts">
	export let term: string;
</script>

<div class="collapse collapse-plus bg-neutral text-neutral-content w-full">
	<input type="checkbox" />
	<div class="collapse-title text-xl">
		{term}
	</div>
	<div class="collapse-content">
		<slot />
	</div>
</div>
