<nav class="navbar justify-center gap-4 bg-neutral fixed top-0 left-0 z-50">
	<a href="/">Home</a>
	<a href="/companies">Companies</a>
	<a href="/advocates">Advocates</a>
</nav>

<style lang="postcss">
	nav a {
		@apply btn btn-ghost;
	}
</style>
